<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"> -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">        


    <bean id="alanBeforeAdvice" class="com.aop.api.AlanBeforeAdvice"></bean>
    
    <bean id="alanAfterReturningAdvice" class="com.aop.api.AlanAfterReturningAdvice"></bean>
    
    <bean id="alanMethodInterceptor" class="com.aop.api.AlanMethodInterceptor"></bean>
    
    <bean id="alanThrowsAdvice" class="com.aop.api.AlanThrowsAdvice"></bean>



<!--     <bean id="bizLogicImplTarget" class="com.aop.api.BizLogicImple"></bean>
    <bean id="pointcutBean" class="org.springframework.aop.support.NameMatchMethodPointcut">
      <property name="mappedNames">
         <list>
            <value>sa*</value>
         </list>
      </property>
    </bean>
    <bean id="defaultAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="alanBeforeAdvice"></property>
        <property name="pointcut" ref="pointcutBean"></property>
    </bean>
    <bean id="bizLogicImpl" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            <ref bean="bizLogicImplTarget"/>
        </property>
        <property name="interceptorNames">
          <list>
             <value>defaultAdvisor</value>
             <value>alanAfterReturningAdvice</value>
             <value>alanMethodInterceptor</value>
             <value>alanThrowsAdvice</value>
          </list>
        </property>
    </bean> -->
    
    
    <!-- 使用匿名内部bean来隐藏目标和代理之间的区别 -->
    <!-- <bean id="bizLogicImplTarget" class="com.aop.api.BizLogicImple"></bean> -->
<!--     <bean id="pointcutBean" class="org.springframework.aop.support.NameMatchMethodPointcut">
      <property name="mappedNames">
         <list>
            <value>sa*</value>
         </list>
      </property>
    </bean>
    <bean id="defaultAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="alanBeforeAdvice"></property>
        <property name="pointcut" ref="pointcutBean"></property>
    </bean>
    <bean id="bizLogicImpl" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            <bean class="com.aop.api.BizLogicImple"></bean>
            <ref bean="bizLogicImplTarget"/>
        </property>
        <property name="interceptorNames">
          <list>
             <value>defaultAdvisor</value>
             <value>alanAfterReturningAdvice</value>
             <value>alanMethodInterceptor</value>
             <value>alanThrowsAdvice</value>
          </list>
        </property>
    </bean> -->
    
    
    <!-- 简化的proxy定义 -->
    <bean id="pointcutBean" class="org.springframework.aop.support.NameMatchMethodPointcut">
      <property name="mappedNames">
         <list>
            <value>sa*</value>
         </list>
      </property>
    </bean>
    
    <bean id="baseProxyBean" class="org.springframework.aop.framework.ProxyFactoryBean" lazy-init="true" abstract="true">
    </bean>
    
    
 <!--    <bean id="defaultAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="alanBeforeAdvice"></property>
        <property name="pointcut" ref="pointcutBean"></property>
    </bean> -->
    <bean id="bizLogicImpl" parent="baseProxyBean">
        <property name="target">
            <bean class="com.aop.api.BizLogicImple"></bean>
           <!--  <ref bean="bizLogicImplTarget"/> -->
        </property>
        
        <property name="proxyInterfaces">
          <value>com.aop.api.BizLogicIntface</value>
        </property>
        
        <property name="interceptorNames">
          <list>
             <value>alanBeforeAdvice</value>
             <value>alanAfterReturningAdvice</value>
             <value>alanMethodInterceptor</value>
             <value>alanThrowsAdvice</value>
          </list>
        </property>
    </bean>
    
    
	
 </beans>
 
 
 
 
 
 
 
 
 
 
 
 
 
